* {
    margin: 0;
    padding: 0;
}

/* Variable */
:root {
    --color-white: #fff;
    --color-grey: #A9A9A9;
    --color-night: #0C090A;
    --base-color:var(--color-night);
}

body {
    background-color: var(--base-color);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    height: 100%;
}

.wrapper {
    width: 800px;
    margin: 30px auto;
    color: var(--color-white);
    text-align: center;
}

h1, h2, h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-size: 2.6em;
    text-transform: uppercase;
}

#seconds, #tens{
    font-size:2em;
}

button {
    transition: all 0.5s ease-in-out;
    background: var(--color-night);
    color: var(--color-white);
    border: solid 1px var(--color-white);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.2em;
    padding: 18px 10px;
    width: 180px;
    margin: 10px;
    outline: none;
}

button:hover{
    background:var(--color-white);
    border: solid 1px var(--color-white);
    color: var(--base-color);
}

